.main{
  margin: auto;
}

.expenseButton{
  height: 30px;
  width: 100px;
  background-color: blanchedalmond;
  border-radius: 10px;
  margin: 5px;
}

.incomeButton{
  height: 30px;
  width: 100px;
  background-color: blanchedalmond;
  border-radius: 10px;
  margin: 5px;
}