@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI'),  url('./assets/fonts/SegoeUI.ttf');
}
@font-face {
  font-family: 'Seguibl';
  src: local('Seguibl'),  url('./assets/fonts/seguibl.ttf');
}
.main{
  margin: auto;
}

body{
  background-color: #dce8e8;
  font-family: 'Segoe UI';
}


